<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mm.mapper.oracle.DatabaseOracleMapper">

    <!-- 分页数据 -->
    <select id="getPageList" resultType="com.mm.entity.Test">
        SELECT tt."id", tt."name", tt."type", tt."num", tt."content", tt."mark" FROM mkc."t_test" tt
    </select>

    <!-- 全量数据 -->
    <select id="getList" resultType="java.util.HashMap">
        select * from mkc.F_INDEX_ALL
    </select>
</mapper>