<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mm.mapper.mysql.SysLogMapper">

    <insert id="insertSysLog">
        insert into sys_log(username,operation,time,method,params,ip,create_time) values (#{userName},#{operation},#{time},#{method},#{params},#{ip},now())
    </insert>
</mapper>