<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mm.mapper.mysql.TestMapper">
<!--rkmp_operation_info 表-->
  <!--  <select id="getList" resultType="java.util.Map">
        SELECT id,identify,operation_name operationName,min_invasive_type minInvasiveType,icd_code icdCode,version_no versionNo,is_delete isDelete,created_date createdDate,created_by createdBy,updated_date updatedDate,updated_by updatedBy from rkmp_operation_info
    </select>-->

   <!-- rkmp_basic_drug_information-->
<!--     <select id="getList" resultType="java.util.Map">
       SELECT * FROM  rkmp_basic_drug_information
    </select>
    -->
    <!--rkmp_clinical_diag_info-->
      <select id="getList" resultType="java.util.Map">
       SELECT * FROM  rkmp_clinical_diag_info
    </select>
<!--rkmp_operation_info 表-->
    <!--<update id="update">
        update rkmp_operation_info SET
            operation_name = #{operationName},
            min_invasive_type = #{minInvasiveType},
            icd_code = #{icdCode},
            version_no = #{versionNo}
            WHERE id = #{id}
    </update>-->
     <!-- rkmp_basic_drug_information-->
<!--<update id="update">
        update rkmp_basic_drug_information SET
            operation_name = #{operationName},
            min_invasive_type = #{minInvasiveType},
            icd_code = #{icdCode},
            version_no = #{versionNo}
            WHERE id = #{id}
    </update>-->
 <!--rkmp_clinical_diag_info-->
    <update id="update">
        update rkmp_clinical_diag_info SET
            icd9oper_name = #{icd9oper_name},
            icd9oper_code = #{icd9oper_code},
            check_item = #{check_item},
            diag_code = #{diag_code},
            med_name = #{med_name},
            med_inst_code = #{med_inst_code},
            med_six_code = #{med_six_code}
            WHERE id = #{id}
    </update>





    <select id="getList2" resultType="java.util.Map">
        select * from temp_tb1
    </select>

    <select id="getList3" resultType="java.math.BigDecimal">
        select hifp_pay from setl_d where mdtrt_id = #{doc_id}
    </select>

    <update id="update2">
        update temp_tb1 set amt = #{amt} where doc_id =  #{doc_id}
    </update>
</mapper>